.head{
    border-bottom: 1px solid #ebe8f4;
}
.top{
border-bottom: 1px solid var(--Border-Grey, #EBE8F4);
background: #FFF; 
width: 1280px;  
display: flex;
margin: 0 auto;
align-items: center;
padding: 25px 0;
justify-content: space-between;
}
.header-logo{
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px; 
    text-decoration:none;
    font-weight: 400; 
    width: 68px;
height: 29px;
margin-left: 80px;
}
/*top nav*/
.header-title{
display: inline-block;
margin-bottom: 29px;
}
.nav-bar{
    background-color: #FFF; 
}
.nav-bar-list{
    display: flex;
font-family: Open Sans; 
background-color: #FFF;
list-style-type:none;


}
.nav-bar-item{
    list-style: none;
  margin-right: 44px;
}
.nav-bar-item1 {
    margin-right: 0;
  }
.nav-bar-link{
    color: #726E8D;
font-family: Open Sans; 
font-size: 16px; 
display: block;
text-decoration:none ;
}
.icon{
display: flex;
justify-content: space-between;
align-items: center;

}
.icon-item{
display: block;
list-style: none;
align-items: center;  

}
.icon-link{
    display: block;
    width: 16px;
    height: 16px;   
    margin-right: 16px;

}
.icon-link1{
  background-image: url(../hw5-home-design/img/Search.svg);  
}
.icon-link2{
 background-image: url(../hw5-home-design/img/Shopping--cart.svg);   
}
.icon-link3{
 background-image: url(../hw5-home-design/img/User--avatar.svg);   
}
/*Page header */
.wrapper{
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.header-page{
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 80px;
}
.title-header{
 display: block;
 color: #2A254B;
 font-size: 36px;
 font-family: Montserrat;
 font-weight: 400;
 line-height: 140%; 
 text-align: center;
 margin-top: 0;
 margin-bottom: 24px;
}
.select{
border: none;  
position: relative;
outline: none;
padding-right: 8px;
margin: 12px 24px;
cursor: pointer;
}
.filter-box{
 display:flex;   
 justify-content: space-between;
 margin-bottom: 5px;
}
.right-filter-box{
    display: flex;
    align-items: center;
    color:#2A254B;
    }
    .sorting-text{
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 16px;
    }
    .select-text-type{
        color:  #2A254B;
        font-family: Open Sans;
        font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
    } 
    /*listings wrapper*/
    .listings-wrapper{
        display: grid;
        grid-template-columns: repeat(4, 305px);
        grid-template-rows: repeat(3, 462px);
        column-gap: 20px;
        row-gap: 40px;
     margin-top: 28px;
    }
    .product{
        text-decoration: none;
    }
.card-text{
        color: var(--Dark-Primary, #2A254B);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
margin: 0;
margin-top: 28px;
margin-bottom: 20px;
}
.card-price{
  color: #2A254B;  
  font-family: Open Sans;
font-size: 18px;
line-height: 150%; /* 27px */
margin-top: 8px;
}
.button{
display: block;
margin: 0 auto;
border: none;
padding: 16px 32px;
margin-top: 48px;
color: #2a254b;
font-size: 16px;
line-height: 150%;
border: none;
cursor: pointer;
}
/* email sign up*/
.email-section{
display: grid;
grid-template-columns: repeat(2, 1fr);
background-image: url(../hw5-home-design/img/email.jpeg);
background-repeat: no-repeat;
background-size: 50% 100%;
background-position: left top;
}
.email-container{
  grid-column: 2;  
  padding-top: 70px;
  height: 521px;
}
.email-title{
    color: #2A254B;
    font-size: 32px;
    font-weight: 400px;
    margin-left: 50px;
}
.email-dscr{
color: #2A254B;
font-size: 16px;
line-height: 150%;
display: block;
width: 470px;
margin-left: 75px;
margin-bottom: 216px;
}
.email-button{
margin-left: 70px;
color: #fff;
background: #2a254b;
padding: 16px 32px;
cursor: pointer;
border: none;  
}
/*footer*/
.footer-container{
    display: grid;
    padding-top: 60px;
    padding-bottom: 25px;
    background-color: #2A254B;
    justify-content: center;
}
.top-foot-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    padding-bottom: 60px;
    border-bottom: 1px solid #4e4d93;
    justify-content: space-between;
  width: 1280px;
}
.foot-nav-list{
list-style-type:none;
}
.foot-nav-item{
display: flex;
}
.foot-nav-link {
    color: #FFF;
    font-size: 14px;
    margin-top: 12px;
text-decoration: none;    
}
.foot-nav-title{
    font-size: 16px;
    margin-top: 0;
}
/*social link*/
.social-container{
display: flex;
justify-content: space-between;
padding-top: 22px;
}
.copyright{
    display: block;
    color: #FFFFFF;
    font-family: Open Sans;
    align-self: center;
    padding-bottom: 0;
    margin: 0;
}
.social-list{
    display: flex;
    justify-content: end;
    padding-left: 0; 
    background-color: #2A254B;  
    }
.social-item{
list-style: none;
margin-right: 24px;
}
.social-item6{
  margin-right: 0;  
}
.social-link{
display: block;
width: 24px;
height: 24px;
background-repeat: no-repeat;
  background-size: cover;
}
.social-img1{
    background-image: url(../hw5-home-design/img/Logo-linkedin.svg);
}
.social-img2{
 background-image: url(../hw5-home-design/img/Logo-facebook.svg);   
}
.social-img3{
background-image: url(../hw5-home-design/img/Logo-instagram.svg);
}
.social-img4{
background-image: url(../hw5-home-design/img/Logo-skype.svg);    
}
.social-img5{
 background-image: url(../hw5-home-design/img/Logo-twitter.svg);   
width: 30px;
}
.social-img6{
background-image: url(../hw5-home-design/img/Logo-pinterest.svg);    
}